<?xml version="1.0" encoding="utf-8"?>
<document>
	<CarCrashTestDrivingX5M3>
		<FeatureImgLink>https://i.imgur.com/4wLqrtK.png</FeatureImgLink>
		<appLink>https://play.google.com/store/apps/details?id=com.InsaneInTheGame.CarCrashTestVAZ2106</appLink>
		<imgUrl>https://i.imgur.com/k5JWUAw.png</imgUrl>
	</CarCrashTestDrivingX5M3>
	<CarCrashTestUAZBUHANKA>
		<FeatureImgLink>https://i.imgur.com/4wLqrtK.png</FeatureImgLink>
		<appLink>https://play.google.com/store/apps/details?id=com.InsaneInTheGame.CarCrashTestVAZ2106</appLink>
		<imgUrl>https://i.imgur.com/k5JWUAw.png</imgUrl>
	</CarCrashTestUAZBUHANKA>
	<CarCrashTestUAZ4x4>
		<FeatureImgLink>https://i.imgur.com/4wLqrtK.png</FeatureImgLink>
		<appLink>https://play.google.com/store/apps/details?id=com.InsaneInTheGame.CarCrashTestVAZ2106</appLink>
		<imgUrl>https://i.imgur.com/k5JWUAw.png</imgUrl>
	</CarCrashTestUAZ4x4>
	<CarCrashTestVAZ2104>
		<FeatureImgLink>https://i.imgur.com/4wLqrtK.png</FeatureImgLink>
		<appLink>https://play.google.com/store/apps/details?id=com.InsaneInTheGame.CarCrashTestVAZ2106</appLink>
		<imgUrl>https://i.imgur.com/k5JWUAw.png</imgUrl>
	</CarCrashTestVAZ2104>
	<CarCrashTestNIVA>
		<FeatureImgLink>https://i.imgur.com/4wLqrtK.png</FeatureImgLink>
		<appLink>https://play.google.com/store/apps/details?id=com.InsaneInTheGame.CarCrashTestVAZ2106</appLink>
		<imgUrl>https://i.imgur.com/k5JWUAw.png</imgUrl>
	</CarCrashTestNIVA>
	<CarCrashTestVAZ2106>
		<FeatureImgLink>https://i.imgur.com/y4F9gwm.png</FeatureImgLink>
		<appLink>https://play.google.com/store/apps/details?id=com.InsaneInTheGame.CarCrashTestUAZ4x4</appLink>
		<imgUrl>https://i.imgur.com/IOBzQAE.png</imgUrl>
	</CarCrashTestVAZ2106>
	<CarCrashTestVAZ2108>
		<FeatureImgLink>https://i.imgur.com/4wLqrtK.png</FeatureImgLink>
		<appLink>https://play.google.com/store/apps/details?id=com.InsaneInTheGame.CarCrashTestVAZ2106</appLink>
		<imgUrl>https://i.imgur.com/k5JWUAw.png</imgUrl>
	</CarCrashTestVAZ2108>
	<CayenneCarCrashTest>
		<FeatureImgLink>https://i.imgur.com/4wLqrtK.png</FeatureImgLink>
		<appLink>https://play.google.com/store/apps/details?id=com.InsaneInTheGame.CarCrashTestVAZ2106</appLink>
		<imgUrl>https://i.imgur.com/k5JWUAw.png</imgUrl>
	</CayenneCarCrashTest>
	<Skyline2018DrivingCrashTestSim>
		<FeatureImgLink>https://i.imgur.com/4wLqrtK.png</FeatureImgLink>
		<appLink>https://play.google.com/store/apps/details?id=com.InsaneInTheGame.CarCrashTestVAZ2106</appLink>
		<imgUrl>https://i.imgur.com/k5JWUAw.png</imgUrl>
	</Skyline2018DrivingCrashTestSim>
	<FerrariCarCrashTest>
		<FeatureImgLink>https://i.imgur.com/4wLqrtK.png</FeatureImgLink>
		<appLink>https://play.google.com/store/apps/details?id=com.InsaneInTheGame.CarCrashTestVAZ2106</appLink>
		<imgUrl>https://i.imgur.com/k5JWUAw.png</imgUrl>
	</FerrariCarCrashTest>
	<DodgeCarCrashTest>
		<FeatureImgLink>https://i.imgur.com/4wLqrtK.png</FeatureImgLink>
		<appLink>https://play.google.com/store/apps/details?id=com.InsaneInTheGame.CarCrashTestVAZ2106</appLink>
		<imgUrl>https://i.imgur.com/k5JWUAw.png</imgUrl>
	</DodgeCarCrashTest>
	<CarCrashTestCamaro>
		<FeatureImgLink>https://i.imgur.com/4wLqrtK.png</FeatureImgLink>
		<appLink>https://play.google.com/store/apps/details?id=com.InsaneInTheGame.CarCrashTestVAZ2106</appLink>
		<imgUrl>https://i.imgur.com/k5JWUAw.png</imgUrl>
	</CarCrashTestCamaro>
	<LamboCentenarioCrashDrivingSimulator>
		<FeatureImgLink>https://i.imgur.com/4wLqrtK.png</FeatureImgLink>
		<appLink>https://play.google.com/store/apps/details?id=com.InsaneInTheGame.CarCrashTestVAZ2106</appLink>
		<imgUrl>https://i.imgur.com/k5JWUAw.png</imgUrl>
	</LamboCentenarioCrashDrivingSimulator>
	<CarCrashTestZIL130>
		<FeatureImgLink>https://i.imgur.com/4wLqrtK.png</FeatureImgLink>
		<appLink>https://play.google.com/store/apps/details?id=com.InsaneInTheGame.CarCrashTestVAZ2106</appLink>
		<imgUrl>https://i.imgur.com/k5JWUAw.png</imgUrl>
	</CarCrashTestZIL130>
	<MustangGTCarCrashDrivingSimulator>
		<FeatureImgLink>https://i.imgur.com/4wLqrtK.png</FeatureImgLink>
		<appLink>https://play.google.com/store/apps/details?id=com.InsaneInTheGame.CarCrashTestVAZ2106</appLink>
		<imgUrl>https://i.imgur.com/k5JWUAw.png</imgUrl>
	</MustangGTCarCrashDrivingSimulator>
	<LincolnCarCrashTest>
		<FeatureImgLink>https://i.imgur.com/4wLqrtK.png</FeatureImgLink>
		<appLink>https://play.google.com/store/apps/details?id=com.InsaneInTheGame.CarCrashTestVAZ2106</appLink>
		<imgUrl>https://i.imgur.com/k5JWUAw.png</imgUrl>
	</LincolnCarCrashTest>
	<R8SportCarCrashDrivingSimulator>
		<FeatureImgLink>https://i.imgur.com/4wLqrtK.png</FeatureImgLink>
		<appLink>https://play.google.com/store/apps/details?id=com.InsaneInTheGame.CarCrashTestVAZ2106</appLink>
		<imgUrl>https://i.imgur.com/k5JWUAw.png</imgUrl>
	</R8SportCarCrashDrivingSimulator>
</document>